.login-content{
    .sign-in{
        padding-top: 50px;
        .row {
            margin-right: -15px;
            margin-left: -15px;
            h6 {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .links{
                padding-top: 20px;

            }
            .logo{
                width: 160px;
                height: auto;
            }
        }
    }
}