.form-field {
    .label-link {
      display: flex;
      justify-content: space-between;
      .label {
        font-size: px-to-rem(12px);
        margin-bottom: 5px;
        line-height: 14px;
        color: $eui-color-gray-desc;
        .mandatory-text {
          color: $eui-color-status-error;
          font-style: italic;
        }
      }
      .link {
        text-decoration: none;
        font-size: px-to-rem(14px);
        line-height: 17px;
        font-weight: inherit;
        color: $eui-color-blue;
      }
    }
    input {
      width: 100%;
      text-indent: 10px;
      padding: 0;
      &::placeholder {
        color: $eui-color-dusty-gray;
      }
      &.error-input {
        border: 1px solid $eui-color-status-error;
      }
    }
    .error-message {
      margin-top: 3px;
      color: $eui-color-status-error;
      font-size: px-to-rem(12px);
      line-height: 14px;
    }
  }