*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

.centered {
    text-align: center;
}
.error{
    color:#f44336;
    margin: 14px;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}


.dashboardlogo {
    width:90px;
    height:auto;
    margin-right: 10px;
}
.username{
    font-size: 12px;
}